.container {
    width: 40rem;
    margin: auto;
    margin-top: 4rem;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.625rem;
    padding: 2.5rem 3.125rem;
}

.container hr {
    height: 0.25rem;
    border: white solid;
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #212121;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 200px;
    height: 45px;
    background-color: #ffffff;
    color: 000000;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.correct {
    background: #d4edda;
    border: #d4edda;
    color: #155724;
}

.incorrect {
    background: #f8d7da;
    border: #f5c6cb;
   color: #721c24;
}