.container {
    width: 40rem;
    margin: auto;
    margin-top: 7.375rem;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.625rem;
    padding: 2.5rem 3.125rem;
}

.container hr {
    height: 0.25rem;
    border: white solid;
}

.container h2 {
    font-size: 1.6875rem;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #212121;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
